</main>
<footer class="footer">
    <h3 class="footer-text">Created By Lakshay.</h3>

    <div class="footer-div">
        <a href="https://www.instagram.com/lakshay_611/"><img class="insta" src="images/instagram.png" alt=""></a>
        <a href="https://github.com/Lakshay116"><img class="git" src="images/social.png" alt=""></a>
    </div>
    <br>
    <h4 style="text-align: left; font-family: 'Courier New', Courier, monospace; ">jangralakshay611@gmail.com</h4>
</footer>

</body>

</html>